<div class="admin-page">
  <p-card header="Create Category" subheader="Add or edit your categories">
    <div class="grid">
      <div class="col">
        <!-- Toolbar -->
        <p-toolbar>
          <div class="p-toolbar-group-left"></div>
          <div class="p-toolbar-group-right">
            <p-button icon="pi pi-check" styleClass="p-button" class="mr-2" label="Create"></p-button>
            <p-button icon="pi pi-times" styleClass="p-button-secondary p-button-outlined" label="Cancel"></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>

    <!-- Form -->
    <form action="">
      <div class="grid p-fluid mt-4">
        <div class="col-6">
          <span class="p-float-label">
            <input id="name" type="text" pInputText />
            <label for="name">Name</label>
          </span>
        </div>
        <div class="col-6">
          <span class="p-float-label">
            <input id="icon" type="text" pInputText />
            <label for="icon">Icon</label>
          </span>
        </div>
      </div>
    </form>
  </p-card>
</div>
