<div class="admin-page">
  <p-card [header]="isEditMode ? 'Edit Product' : 'Add Product'" subheader="Add or edit your products">
    <div class="grid">
      <div class="col">
        <!-- Toolbar -->
        <p-toolbar>
          <div class="p-toolbar-group-left"></div>
          <div class="p-toolbar-group-right">
            <p-button
              icon="pi pi-check"
              styleClass="p-button"
              class="mr-2"
              [label]="isEditMode ? 'Update' : 'Create'"
              (onClick)="onSubmit()"
            ></p-button>
            <p-button
              icon="pi pi-times"
              styleClass="p-button-secondary p-button-outlined"
              label="Cancel"
              (onClick)="goBack()"
            ></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>

    <!-- Form -->
    <form [formGroup]="form">
      <!-- Name -->
      <div class="grid p-fluid mt-4">
        <div class="col-6">
          <div class="p-field">
            <label for="name">Name</label>
            <input formControlName="name" id="name" type="text" pInputText />
            <small *ngIf="productForm['name'].invalid && isSubmitted" class="p-error">Name is required</small>
          </div>
        </div>

        <!-- Price -->
        <div class="col-6">
          <div class="p-field">
            <label for="price">Price</label>
            <p-inputNumber formControlName="price" inputId="price" mode="decimal" [useGrouping]="true"></p-inputNumber>
            <small *ngIf="productForm['price'].invalid && isSubmitted" class="p-error">Price is required</small>
          </div>
        </div>

        <!-- Count in stock -->
        <div class="col-6">
          <div class="p-field">
            <label for="countInStock">In Stock</label>
            <p-inputNumber
              formControlName="countInStock"
              inputId="countInStock"
              mode="decimal"
              [useGrouping]="false"
              [min]="1"
              [max]="255"
            ></p-inputNumber>
            <small *ngIf="productForm['countInStock'].invalid && isSubmitted" class="p-error">Stock is required</small>
          </div>
        </div>

        <!-- Featured -->
        <div class="col-6">
          <div class="p-field">
            <label for="isFeatured">Featured</label> <br />
            <p-inputSwitch formControlName="isFeatured" inputId="isFeatured" styleClass="block mt-1"></p-inputSwitch>
          </div>
        </div>

        <!-- Category -->
        <div class="col-6">
          <div class="p-field">
            <label for="category">Category</label>
            <p-dropdown
              formControlName="category"
              [options]="categories"
              optionLabel="name"
              optionValue="_id"
              [filter]="true"
              filterBy="name"
              [showClear]="true"
              placeholder="Select Category"
            ></p-dropdown>
            <small *ngIf="!productForm['category'].value && isSubmitted" class="p-error">Category is required</small>
          </div>
        </div>

        <!-- Image -->
        <div class="col-6">
          <div class="p-field">
            <label for="image">Image</label>
            <!-- <p-fileUpload name="myfile[]" url="./upload.php" accept="image/*" [auto]="true"></p-fileUpload> -->
            <input type="file" accept="image/*" class="p-inputtext" (change)="onImageUpload($event)" />
            <small *ngIf="productForm['image'].invalid && isSubmitted" class="p-error">Image is required</small>
            <img *ngIf="imageDisplay" [src]="imageDisplay" alt="" class="w-20rem" />
          </div>
        </div>

        <!-- Description -->
        <div class="col-6">
          <div class="p-field">
            <label for="description">Short Description</label>
            <textarea
              formControlName="description"
              [rows]="5"
              [cols]="30"
              pInputTextarea
              [autoResize]="true"
            ></textarea>
            <small *ngIf="productForm['description'].invalid && isSubmitted" class="p-error"
              >Description is required</small
            >
          </div>
        </div>

        <!-- Rich Description -->
        <div class="col-12">
          <label for="richDescription">Product Details</label>
          <p-editor formControlName="richDescription" [style]="{ height: '320px' }"></p-editor>
        </div>
      </div>
    </form>
  </p-card>
</div>
