<div class="admin-page">
  <p-card header="Users" subheader="Manage users">
    <!-- Toolbar -->
    <div class="grid">
      <div class="col">
        <p-toolbar>
          <div class="p-toolbar-group-left">
            <p-button label="New User" icon="pi pi-plus" class="mr-2" routerLink="/users/form"></p-button>
          </div>
          <div class="p-toolbar-group-right">
            <p-button
              label="Refresh"
              icon="pi pi-refresh"
              styleClass="p-button-info p-button-outlined"
              (onClick)="getUsers()"
            ></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>

    <!-- Table -->
    <div class="grid">
      <div class="col">
        <p-table [value]="users" styleClass="p-datatable-gridlines p-datatable-sm" responsiveLayout="scroll">
          <ng-template pTemplate="header">
            <tr>
              <!-- Name -->
              <th pSortableColumn="name" style="width: 25%">Name <p-sortIcon field="name"></p-sortIcon></th>
              <!-- Email -->
              <th>Email</th>
              <!-- Phone -->
              <th>Phone</th>
              <!-- isAdmin -->
              <th style="width: 100px; text-align: center" pSortableColumn="isAdmin">
                Admin <p-sortIcon field="isAdmin"></p-sortIcon>
              </th>
              <!-- Country -->
              <th pSortableColumn="country">Country <p-sortIcon field="country"></p-sortIcon></th>
              <!-- Actions -->
              <th style="width: 120px">Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-user>
            <tr>
              <!-- Name -->
              <td>
                <strong>{{ user.name }}</strong>
              </td>

              <!-- Email -->
              <td class="text-blue-600">{{ user.email }}</td>

              <!-- Phone -->
              <td>{{ user.phone }}</td>

              <!-- isAdmin -->
              <td style="text-align: center">
                <i class="pi pi-star-fill" [ngClass]="{ 'text-blue-500': user.isAdmin }" *ngIf="user.isAdmin"></i>
              </td>

              <!-- Country -->
              <td>{{ user.country }}</td>

              <!-- Actions -->
              <td>
                <p-button
                  icon="pi pi-pencil"
                  styleClass="p-button-info p-button-outlined p-button-sm p-button-text mr-2"
                  (onClick)="editUser(user._id)"
                ></p-button>
                <p-button
                  icon="pi pi-trash"
                  styleClass="p-button-danger p-button-outlined p-button-sm p-button-text"
                ></p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-card>
  <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
</div>
